<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jdcloud.medicine.mall.dao.product.ItemMapper">
    <insert id="batchInsert">
        insert into t_item
        (
        item_no,
        item_name,
        help_code,
        item_category_id,
        item_brand_id,
        spec,
        big_package,
        medium_package,
        factory,
        origin_place,
        unit,
        approval_no,
        approval_no_end_at,
        reg_no,
        reg_no_end_at,
        remark,
        cost_price,
        retail_price,
        revolve_day,
        sale_volume_average,
        license_holder,
        stop_buy,
        important,
        in_tax,
        out_tax,
        expiry_date,
        business_model,
        start_purchase_amount,
        for_people,
        sale_strategy,
        effect,
        tags,
        storage_mode,
        updator,
        creator,
        create_time
        )values
        <foreach collection="list" item="item" separator=",">
            (#{item.itemNo},
            #{item.itemName},
            #{item.helpCode},
            #{item.itemCategoryId},
            #{item.itemBrandId},
            #{item.spec},
            #{item.bigPackage},
            #{item.mediumPackage},
            #{item.factory},
            #{item.originPlace},
            #{item.unit},
            #{item.approvalNo},
            #{item.approvalNoEndAt},
            #{item.regNo},
            #{item.regNoEndAt},
            #{item.remark},
            #{item.costPrice},
            #{item.retailPrice},
            #{item.revolveDay},
            #{item.saleVolumeAverage},
            #{item.licenseHolder},
            #{item.stopBuy},
            #{item.important},
            #{item.inTax},
            #{item.outTax},
            #{item.expiryDate},
            #{item.businessModel},
            #{item.startPurchaseAmount},
            #{item.forPeople},
            #{item.saleStrategy},
            #{item.effect},
            #{item.tags},
            #{item.storageMode},
            #{item.updator},
            #{item.creator},
            #{item.createTime}
            )
        </foreach>
    </insert>
</mapper>