<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jdcloud.medicine.mall.dao.product.ProCategoryMapper" >

  <sql id="Base_Column_List" >
    id,
    level,
    parent_id,
    name,
    sort,
    enable,
    create_time,
    update_time
  </sql>

  <select id="listByParentId" resultType="cn.jdcloud.medicine.mall.domain.product.ProCategory" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_pro_category
    where parent_id = #{parentId} and enable = 1
    order by sort asc,name asc
  </select>

</mapper>