<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/header::common_head"/>
    <link rel="stylesheet" th:href="${staticUrl} + '/main/css/sys/user.css'">
</head>
<body>
<div id="sys_user" v-cloak>
    <Tabs type="card" v-model="accountStatus" style="padding: 20px 10px 0px 10px" @on-click="refresh">
        <Tab-pane :label="label1" name="0"></Tab-pane>
        <Tab-pane :label="label2" name="1"></Tab-pane>
    </Tabs>
    <div id="btn-action-group">
        <i-form v-ref:form-inline :model="userDto" inline>
            <Form-item label="客户等级" prop="userLevelId">
                <i-select :model.sync="model4" style="width:150px" v-model="userDto.userLevelId">
                    <i-option>全部</i-option>
                    <i-option v-for="item in searchLevelList" :value="item.value">{{ item.label }}</i-option>
                </i-select>
            </Form-item>
            <Form-item label="省市区、县">
                <Cascader ref="addressSearch" style="width: 150px" :data="searchAData" change-on-select
                          @on-change="searchAChange"></Cascader>
            </Form-item>
            <Form-item label="注册时间">
                <Date-picker ref="dateSearch" type="datetimerange" :options="dateOption" placement="bottom-end"
                             placeholder="选择日期" style="width: 300px" @on-change="dateChange"></Date-picker>
            </Form-item>
            <Form-item label="客户名称">
                <i-input v-model="userDto.keyWord" placeholder="请输入客户名称" style="width: 150px"></i-input>
            </Form-item>
            <Form-item label="手机号码" prop="mobile">
                <i-input v-model="userDto.mobile" placeholder="请输入手机号码" style="width: 150px"></i-input>
            </Form-item>
            <Form-item>
                <i-button type="primary" style="margin: 32px 0 0 3px;" @click="search" shape="circle">搜索</i-button>
                <i-button type="info" style="margin: 32px 0 0 10px;" @click="refresh" shape="circle">刷新</i-button>
                <i-button type="warning" style="margin: 32px 0 0 10px;" @click="exportExcel" shape="circle">导出
                </i-button>
                <i-button type="success" style="margin: 32px 0 0 10px;" @click="importExcel" shape="circle">导入
                </i-button>
                <!--        <i-button type="success" @click="addItem">新增客户</i-button> -->
            </Form-item>
        </i-form>
    </div>
    <i-table border :columns="columns1" :data="userList"></i-table>
    <Modal v-model="showInvoice" :closable="false" width="500">
        <div slot="header" style="text-align: center">
            客户 <span style="font-size: 18px;font-weight: bold;color: red;">{{userItem.userName}}</span> 的开票信息
        </div>
        <div style="text-align: left;font-size: 14px;">
            <p>发票类型：{{userItem.invoiceType}}</p>
            <p>税号：{{userItem.taxNo}}</p>
        </div>
        <div slot="footer"></div>
    </Modal>
    <Modal v-model="showBankCard" :closable="false" width="1200">
        <div slot="header" style="text-align: center">
            客户 <span style="font-size: 18px;font-weight: bold;color: red;">{{userItem.userName}}</span> 的银行卡信息
        </div>
        <i-table border :columns="cardHead" :data="cardList"></i-table>
        <div slot="footer"></div>
    </Modal>
    <Modal v-model="showReceiptStatus" :closable="false" width="500"  @on-ok="saveStatusSubmit"
           @on-cancel="showReceiptStatus=false">
        <div slot="header" style="text-align: center">
            客户 <span style="font-size: 18px;font-weight: bold;color: red;">{{userItem.userName}}</span> 的收证状态
        </div>
        <i-form style="height: 150px;" :label-width="60">
            <Form-item label="收证状态">
                <i-select :model.sync="model5" style="width:200px" v-model="userItem.receiptStatus">
                    <i-option v-for="item in receiptStatusList" :value="item.value">{{ item.label }}</i-option>
                </i-select>
            </Form-item>
        </i-form>
    </Modal>
    <Modal v-model="accountShow" :closable="false" width="500" @on-ok="accountStatusSubmit(0)"
           @on-cancel="openCancel">
        <div slot="header" style="text-align: center">
            给 <span style="font-size: 18px;font-weight: bold;color: red;">{{userItem.userName}}</span> 开户
        </div>
        <i-form ref="accountFrom" :model="remarkList" style="height: 150px;" :label-width="60">
            <Form-item label="备 注" prop="accountRemark">
                <i-input type="textarea" :rows="5" style="width: 300px"
                         placeholder="请输入备注" v-model="remarkList.accountRemark"></i-input>
            </Form-item>
        </i-form>
    </Modal>
    <Modal v-model="accountRefuse" :closable="false" width="500" :loading="loading"  @on-ok="accountStatusSubmit(1)"
           @on-cancel="noOpenCancel">
        <div slot="header" style="text-align: center">
            拒绝 <span style="font-size: 18px;font-weight: bold;color: red;">{{userItem.userName}}</span> 开户
        </div>
        <i-form ref="accountRefuseFrom" :model="remarkList" style="height: 150px;" :label-width="60" >
            <Form-item label="备 注" prop="accountRefuseRemark" :rules="{required: true, message: '当前项为必填项，不能为空', trigger: 'blur'}">
                <i-input type="textarea" :rows="5" style="width: 300px" @on-change="loading=false"
                         placeholder="请输入备注，如：营业执照未上传，材料不足无法通过！" v-model="remarkList.accountRefuseRemark"></i-input>
            </Form-item>
        </i-form>
    </Modal>
    <div style="margin: 10px;overflow: hidden">
        <div style="float: right;">
            <Page show-sizer @on-page-size-change="pageSizeChange" :page-size-opts="pageSizeOpts"
                  @on-change="pageChange" :total="total" :current="current" :page-size="size" :show-total="true"></Page>
        </div>
    </div>
    <Modal v-model="importExcel_modal" title="导入数据" @on-ok="importExcelSubmit"
           @on-cancel="importExcel_modal=false,cleanSelect()">
        <div>请选择Excel文件： <input type="file" ref='file'>
            <p style="color: #2b85e4;cursor: pointer;" @click="downLoad">下载模板</p>
        </div>
    </Modal>
    <Drawer
            title="查看客户证件"
            v-model="showImg"
            width="100"
            :mask-closable="false"
            @on-close="emptyImg"
    >
        <div>
            <p style="font-size: 18px;">{{userItem.userName}}</p>
            <p style="font-size: 15px;">联系地址：{{userItem.address}}</p>
        </div>
        <div style="margin-top: 20px;">
            <p class="imgTitle">证件图片：
                <span style="font-size: 15px;font-weight: normal;" v-if="imgList.length <= 0">暂未上传</span>
                <i-button type="info" v-if="imgList.length > 0" @click="downLoadImg">点击下载以下所有证件</i-button>
            </p>
            <ul id="viewer" v-for="item in imgList">
                <li>
                    <img :src="item.imgUrl" :title="item.imgRemark" :alt="item.imgRemark">

                    <div class="pic_name">{{item.imgRemark}}</div>
                </li>
            </ul>
        </div>
    </Drawer>
    <Drawer
            v-bind:title="drawerTitle"
            v-model="showEdit"
            width="100"
            :mask-closable="false"
            @on-close="emptyForm"
    >
        <i-form ref="editForm" :model="newItem" :label-width="120" :rules="ruleValidate">
            <Divider orientation="left" style="font-size: 20px">基本信息</Divider>
            <div style="padding-left: 50px">
                <Form-item label="客户编码" prop="helpCode">
                    <i-input style="width: 500px" placeholder="请输入客户编码"
                             v-model="newItem.helpCode"></i-input>
                </Form-item>
                <Form-item label="手机号码" prop="mobile">
                    <i-input style="width: 500px" placeholder="请输入注册手机号码"
                             v-model="newItem.mobile"></i-input>
                </Form-item>
                <Form-item label="客户名称" prop="companyName"
                           :rules="{required: true, message: '当前项为必填项，不能为空', trigger: 'blur'}">
                    <i-input style="width: 500px" placeholder="请输入客户名称"
                             v-model="newItem.companyName"></i-input>
                </Form-item>
                <Form-item label="客户类型" prop="type"
                           :rules="{required: true, message: '当前项为必填项，不能为空', trigger: 'blur'}">
                    <i-select :model.sync="model1" style="width:200px" v-model="newItem.type">
                        <i-option v-for="item in typeList" :value="item.value">{{ item.label }}</i-option>
                    </i-select>
                </Form-item>
                <Form-item label="客户等级" prop="userLevelId"
                           :rules="{required: true, message: '当前项为必填项，不能为空', trigger: 'blur'}">
                    <i-select :model.sync="model3" style="width:200px" v-model="newItem.userLevelId">
                        <i-option v-for="item in levelList" :value="item.value">{{ item.label }}</i-option>
                    </i-select>
                </Form-item>
                <Form-item label="省市区(县)" prop="addressList">
                    <Cascader style="width: 500px" :data="addressData" change-on-select
                              v-model="addressList" @on-change="addressChange"></Cascader>
                </Form-item>
                <Form-item label="联系人姓名" prop="contactName">
                    <i-input style="width: 500px" placeholder="请输入真实姓名"
                             v-model="newItem.contactName"></i-input>
                </Form-item>
                <Form-item label="联系人手机" prop="contactPhone">
                    <i-input style="width: 500px" placeholder="请输入手机号码"
                             v-model="newItem.contactPhone"></i-input>
                </Form-item>
                <Form-item label="联系人地址" prop="contactAddress">
                    <i-input type="textarea" :rows="3" style="width: 500px"
                             placeholder="请输入联系人具体地址" v-model="newItem.contactAddress"></i-input>
                </Form-item>
            </div>
            <Divider orientation="left" style="font-size: 20px">开票信息</Divider>
            <div style="padding-left: 50px">
                <Form-item label="税号" prop="taxNo">
                    <i-input style="width: 500px" v-model="newItem.taxNo"
                             placeholder="请输入正确的税号"></i-input>
                </Form-item>
                <Form-item label="发票类型" prop="invoiceType">
                    <i-select :model.sync="model2" style="width:200px" v-model="newItem.invoiceType">
                        <i-option v-for="item in invoiceList" :value="item.value">{{ item.label }}</i-option>
                    </i-select>
                </Form-item>
            </div>
            <Row>
                <i-col span="3" offset="3">
                    <i-button type="primary" style="width: 150px" @click="saveItem">提交</i-button>
                </i-col>
                <i-col span="3" offset="2">
                    <i-button style="width: 150px" @click="reset">重置</i-button>
                </i-col>
            </Row>
        </i-form>
    </Drawer>
</div>
<div th:replace="common/script::footer_script"></div>
<script type="text/babel" th:src="${staticUrl}+'/main/js/sys/user.js'"></script>
</body>
</html>
