<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <div th:fragment="footer_script">
    <script th:inline="javascript" type="text/babel">
      window.apiUrl = [[${apiUrl}]];
      window.uploadUrl = [[${uploadUrl}]];
      window.baseUrl = [[${baseUrl}]];
      window.staticUrl = [[${staticUrl}]];
      window.version = [[${version}]];
      window.userSession = [[${session.userSession}]];
      window.hasPermission = function (perVal) {
        let perArray = userSession.permissionValue;
        if (perArray && perArray.length > 0) {
          return perArray.indexOf(perVal) > -1;
        } else {
          return false;
        }
      };
      window.hasRole = function (roleVal) {
        let roleArray = userSession.roleValue;
        if (roleArray && roleArray.length > 0) {
          return roleArray.indexOf(roleVal) > -1;
        } else {
          return false;
        }
      };
      window.roleMaps = [[${roleMaps}]];
    </script>
    <script th:src="${staticUrl} + '/common/axios/qs.min.js?version=' + ${version}"></script>
    <script th:src="${staticUrl} + '/common/axios/axios.min.js?version=' + ${version}"></script>
    <script type="text/babel" th:src="${staticUrl} + '/common/axios/api.js?version=' + ${version}"></script>
  </div>
</body>
</html>

