#order_list{
    padding: 20px;
}
#btn-action-group{
    margin-bottom: 10px
}
.ivu-tabs > .ivu-tabs-bar {
    margin-left: 0;
}
.ivu-table th.ivu-table-column-center {
    font-size: 15px;
    font-weight: bold;
}
.ivu-table-cell {
     padding: 0
}
.wuliu .ivu-modal-body {
        height: 420px;
}
.refund .ivu-modal-body {
        height: 460px;
}


