<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jdcloud.medicine.mall.dao.promotion.PromotionGroupItemMapper">



  <select id="listPromotionItemUser" resultType="cn.jdcloud.medicine.mall.domain.promotion.PromotionItemUserDto">
  select 
        c.id user_id ,c.head_img,c.company_name name,a.id group_id ,
        c.mobile mobile ,b.create_time create_time
  from t_group_info a ,t_group_user b,t_user c 
  where  a.id =b.group_id and b.user_id=c.id
         and a.promotion_id =#{promotionId}  and a.status=1 
         and b.is_pay=3
         order by b.create_time desc
  </select>

           <!-- 查询团购商品列表 -->
  <select id="listPromotionItems"  resultType="cn.jdcloud.medicine.mall.domain.promotion.PromotionItemListDto">
      select  aa.*, 
              ifnull(dd.item_num,0) sold_num,  
              ifnull(dd.user_num,0) sold_user_num 
      from
      (
         select  
                a.promotion_id , 
                c.id  item_id, 
                a.item_num limit_num,
                c.item_no,
                c.item_name,
                c.img_cover,
                b.end_time,
                c.subtotal_sale_num, 
                a.item_group_price,
                c.effective_date ,
                c.factory,
                c.retail_price retail_price
             from  
                t_promotion_group_item a,
                t_promotion_info b,
                t_item  c
            where 
                a.promotion_id=b.promotion_id 
                and a.item_no=c.item_no 
                and b.status=1 
                and now()  BETWEEN b.begin_time and b.end_time
                and b.is_deleted=0
    <if test="promotionIds != null and promotionIds != ''">
              and  a.promotion_id in
        <foreach item="item" collection="promotionIds" separator="," open="(" close=")" index="">
             #{item}
     </foreach>
     </if>
     <if test="itemNos != null and itemNos != ''">
       and   c.item_no in
        <foreach item="item" collection="itemNos" separator="," open="(" close=")" index="">
             #{item}
     </foreach>
     </if>
     <if test="searchValue != null and searchValue != ''">
        and
       ( c.item_name like '%${itemName}%' or
          c.item_brand_id in( 
        select  id  from t_item_brand where ibrand_name like '%${itemBrandName}%')
        )
     </if>
       )aa 
        left join
          t_group_info dd
        on 
          aa.promotion_id=dd.promotion_id 
          and aa.item_no=dd.item_no
          and dd.status=1   <!-- 只查询拼团中状态的记录 -->
  </select>

  <select id="checkItemIsPromotionItem" resultType="int">
     select 
     count(1) sl
     from  
     t_promotion_group_item a,t_promotion_info b
      where a.promotion_id=b.promotion_id
      and a.item_no=#{itemNo}
      and b.end_time>now()
      and b.status=1 and b.is_deleted=0
  </select>


    <insert id="insertBatch">
        insert into t_promotion_group_item
        (
        promotion_id,
        item_no,
        item_group_price,
        item_num,
        create_time,
        total_item_type,
        total_item_num,
        total_item_qty
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.promotionId},
            #{item.itemNo},
            #{item.itemGroupPrice},
            #{item.itemNum},
            #{item.createTime},
            #{item.totalItemType},
            #{item.totalItemNum},
            #{item.totalItemQty}
            )
        </foreach>
    </insert>
    <select id="PromotionGroupItemInfo" resultType="cn.jdcloud.medicine.mall.domain.promotion.PromotionItem">
        select
        t1.item_no itemNo,
        t1.item_group_price promotionPrice,
        t1.item_num itemNum,
        t1.total_item_type totalItemType,
        t1.total_item_num totalItemNum,
        t1.total_item_qty totalItemQty,
        t2.item_name itemName,
        t2.retail_price retailPrice
        from t_promotion_group_item t1
        left join t_item t2 on t1.item_no = t2.item_no
        where t1.promotion_id = #{promotionId}
    </select>
</mapper>