/*页面头部标题*/
.is-pageHead {
  margin: 0 18px;
  padding: 16px 0 12px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e8ebee;
  line-height: 18px;
}
.is-pageHead > span {
  border-left: 4px solid #73b3f6;
  padding-left: 15px;
  font-size: 16px;
}
/*表格*/
.is-tableBox {
  position: absolute;
  top: 107.5px;
  left: 10px;
  right: 10px;
  bottom: 52.5px;
}
/*分页*/
.is-page {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/*左外边距8px*/
.is-marginLeft8 {
  margin-left: 8px;
}
/*宽度330px*/
.is-width330 {
  width: 330px;
}
/*横向外边距10px*/
.is-marginRow10 {
  margin: 0 10px;
}
/*操作按钮行*/
.is-actionLine {
  padding: 16px 10px 0;
  height: 48.5px;
  overflow: hidden;
}
/*inline-block width 100px*/
.is-lineBlockW100 {
  width: 100px;
  display: inline-block;
}
/*右内边距16px text居中*/
.is-msgStyle {
  text-align: center;
  padding-right: 16px;
}
/*单独的表单页面最外层容器*/
.is-pageMain {
  width: 500px;
  padding: 18px;
  box-sizing: border-box;
}
/*msg换行左内边距37px*/
.is-masgSpan {
  padding-left: 37px;
  display: block;
}
/*input宽度160px*/
.is-inputW160 {
  width: 160px;
  display: inline-block;
}
