<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/header::common_head"/>
    <link rel="stylesheet" th:href="${staticUrl} + '/main/css/item/category.css'">
</head>
<body>
<div id="category" v-cloak>
    <Tabs type="card">
        <Tab-pane label="类目列表">
            <div class="btn-action-group">
                <i-input search="true" suffix="ios-search" @on-search="search" v-model="searchValue" placeholder="请输入品牌名称..." style="width: 300px"></i-input>
                <i-button type="info" @click="addCategory_modal=true,isAddSub=false">新增类目</i-button>
            </div>
            <i-table class="categoryList" :height="tableHeight" stripe :loading="loading" :columns="tableHead" :data="tableData"></i-table>
            <Page class="categoryPage" :total="page.total" :current="page.current" :page-size="page.size" show-total @on-change="changePage" :page-size-opts="pageSizeOpts" @on-page-size-change="pageSizeChange"  show-sizer show-elevator></Page>
        </Tab-pane>
        <Tab-pane label="类目树">
            <div class="categoryTree">
                <Tree :data="treeData" :load-data="loadData" :render="renderContent"></Tree>
            </div>
        </Tab-pane>
    </Tabs>

    <Modal v-model="addCategory_modal"
           title="新增类目"
           :closable="true"
           :mask-closable="false">
        <div v-if="isAddSub">父类目名称：{{selectItem.categoryName}}</div>
        <i-input v-model="newCategory.categoryNo" placeholder="商品分类编码（必填）" @on-change=""></i-input>
        <i-input v-model="newCategory.categoryName" placeholder="商品分类名字（必填）" @on-change=""></i-input>
        <i-input number="true" type="number" v-model="newCategory.sort" placeholder="排序（必填）" @on-change=""></i-input>
        <i-input  v-model="newCategory.categoryImg" placeholder="图片地址" @on-change=""></i-input>
        <Upload :before-upload="uploadFile" action="">
            <i-button type="text" @click="clickUpLoad('add')" icon="ios-cloud-upload-outline">上传图片</i-button>
        </Upload>
        <img :src="newCategory.categoryImg" style="max-width: 450px;"  @on-change="" />
        <div slot="footer">
            <i-button type="text" @click="addCategory_modal=false">取消</i-button>
            <i-button type="primary" @click="addCategorySubmit">确定</i-button>
        </div>
    </Modal>
    <Modal v-model="categoryEdit_modal"
           title="编辑类目"
           :closable="true"
           :mask-closable="false">
        <div>
            商品分类编码：<i-input v-model="selectItem.categoryNo" placeholder="商品分类编码（必填）" @on-change=""></i-input>
        </div>
        <div>
            商品分类名字:<i-input v-model="selectItem.categoryName" placeholder="商品分类名字（必填）" @on-change=""></i-input>
        </div>
        <div>
            顺序号：<i-input number="true" type="number" v-model="selectItem.sort" placeholder="顺序号（必填）" @on-change=""></i-input>
        </div>
        <Upload :before-upload="uploadFile" action="">
            <i-button type="text" @click="clickUpLoad('edit')" icon="ios-cloud-upload-outline">上传图片</i-button>
        </Upload>
        <img style="max-width: 450px;" :src="selectItem.categoryImg"  @on-change="" />
        <div slot="footer">
            <i-button type="text" @click="categoryEdit_modal=false">取消</i-button>
            <i-button type="primary" @click="categoryEditSubmit">确定</i-button>
        </div>
    </Modal>
</div>
<div th:replace="common/script::footer_script"></div>
<script type="text/babel" th:src="${staticUrl}+'/main/js/item/category.js'"></script>
<script type="text/babel" th:src="${staticUrl} + '/common/axios/upload.js?version=' + ${version}"></script>
</body>
</html>
